<h1>Listing Trainers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trainers.each do |trainer| %>
  <tr>
    <td><%= trainer.name %></td>
    <td><%= trainer.email %></td>
    <td><%= link_to 'Show', trainer %></td>
    <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
    <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />